@import "vars";

/*	   desktop  first   	*/


@media only screen and (max-width : 1024px){
	
	/*	   navigation   	*/
	.toogle-menu,
	.close-link {display:block;}
	
	#nav { 
		position: static;
		margin: 0;
	}
	.menu-holder {
		width: 300px;
		height: 100vh ;
		overflow:hidden;
		overflow-y:auto;
		position: fixed;
		top:0;
		right:-300px;
		padding: 60px 0 20px;
		z-index:100;
		-webkit-transition: right .3s ease-in-out;
		-moz-transition: right .3s ease-in-out;
		transition: right .3s ease-in-out;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: $menu-bg;
	}
	input[id="check-menu"]:checked ~ .menu-holder {right:0;}
	
	input[id="check-menu"]:checked ~  .nav-overlay {left:0;}
	
	input[id="check-menu"]:checked ~ .menu-holder .menu > li {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.menu li:nth-child(1) {transition-delay: 50ms, 50ms;}
	.menu li:nth-child(2) {transition-delay: 100ms, 100ms;}
	.menu li:nth-child(3) {transition-delay: 150ms, 150ms;}
	.menu li:nth-child(4) {transition-delay: 200ms, 200ms;}
	.menu li:nth-child(5) {transition-delay: 250ms, 250ms;}
	.menu li:nth-child(6) {transition-delay: 300ms, 300ms;}
	.menu li:nth-child(7) {transition-delay: 350ms, 350ms;}
	.menu li:nth-child(8) {transition-delay: 400ms, 400ms;}
	.menu li:nth-child(9) {transition-delay: 450ms, 450ms;}
	.menu li:nth-child(10) {transition-delay: 500ms, 500ms;}
	
	.close-link {
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		-webkit-transition: transform .6s ease-in-out;
		-moz-transition: transform .6s ease-in-out;
		transition: transform .6s ease-in-out;
	}
	input[id="check-menu"]:checked ~ .menu-holder .close-link {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.menu {
		display:block;
		margin:0;
		
		> li {
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			-webkit-transition: transform .4s ease-in-out;
			-moz-transition: transform .4s ease-in-out;
			transition: transform .4s ease-in-out;
			margin:-1px 0 0;
			padding:0;
			
			> a {
				display:block;
				padding: 10px 20px;
				-webkit-transition: background .2s ease-in-out;
				-moz-transition: background .2s ease-in-out;
				transition: background .2s ease-in-out;
				
				&:before {display:none;}
				
				&:hover {background:rgba(255,255,255,0.2);}
			}
		}
		> li.active a {background:rgba(255,255,255,0.2);}
	}
	/*	   end navigation   	*/
	
	
	.title-hold {
		min-height:230px;
		margin:0 0 100px;
	}
	.management-hold .box {
		max-width:100%;
		width:33.33%;
		-webkit-box-sizing: border-box;		-moz-box-sizing: border-box;		box-sizing: border-box;
	}
	.management-hold .info-manager {
		-webkit-flex-direction: column;		flex-direction: column;
		-webkit-align-items: center;		align-items: center;
		text-align:center;
	}
	.management-hold .info-manager .info-hold {margin:0 0 14px;}
	
	.management-hold .web-list li {padding:0 4px;}
	
	.gallery-box {padding:100px 0;}
}

@media only screen and (max-width : 900px){
	.contact-foot {
		-ms-flex-wrap: wrap;		flex-wrap: wrap;
	}
	.contact-foot .box {
		max-width:100%;
		width:100%;
		text-align:center;
		margin:0 0 20px;
	}
	.contact-foot address dl {
		-webkit-justify-content: center;		justify-content: center;
	}
	.contact-foot form {margin:0 auto;}
}

@media only screen and (max-width : 768px){
	.container {padding:0 15px;}
	
	h1 {
		font-size:$fs-h1 - 8px;		line-height:$lh-h1 - 8px;
	}
	.title-hold {
		min-height:140px;
		padding:50px 0;
		margin:0 0 70px;
	}
	.management-hold .box {width:50%;}
	
	.management-hold .box:nth-of-type(3) {display:none;}
	
	.gallery-box {padding:70px 0;}
	
	.contact-foot {padding:50px 0 30px;}
}

@media only screen and (max-width : 540px){
	.container {padding:0 10px;}
	
	body {
		font-size: $fs-body;
		line-height: $lh-body - 4px;
	}
	h1 {
		font-size:$fs-h1 - 16px;
		line-height:$lh-h1 - 16px;
	}
	h2 {
		font-size:$fs-h2 - 4px;
		line-height:$lh-h2 - 4px;
		padding:0 0 20px;
		margin:0 0 26px;
	}
	.head-hold {height:60px;}
	
	.title-hold {
		min-height:auto;
		padding:30px 0 10px;
		margin:0 0 40px;
	}
	.management-hold .box {
		width:100%;
		margin:0 0 40px;
	}
	.management-hold .box:nth-of-type(2) {display:none;}
	
	.management-hold .box figure {margin:0 0 20px;}
	
	.management-box .show-link {
		min-width:150px;
		padding:12px;
	}
	.gallery-box {padding:40px 0;}
	
	.slide {padding:10px 0 0;}
	
	.slide bloquote {padding:0 10px;}
	
	.slide q {margin:0 0 30px;}
	
	.slide cite .name {margin:0 0 3px;}
	
	.contact-foot {padding:30px 0 14px;}
	
	.down-hold {
		-webkit-flex-direction: column-reverse;		flex-direction: column-reverse;
	}
	.down-hold .web-list {margin:0 0 12px;}
	
	.down-hold .web-list li {padding:0 5px;}
}
