/*	   typography   	*/

$body-font: 'Open Sans', sans-serif;
$title-font: 'Raleway', sans-serif;

$fs-body: 14px;
$lh-body: 24px;

$fs-h1: 40px;
$lh-h1: 44px;

$fs-h2: 24px;
$lh-h2: 26px;

/*	   end  typography   	*/


/*	   color   	*/

$body-color: #24282f;
$link-color: #fff;
$h1-color: #fff;
$yellow-color: #b5a263;
$black-color: #000;
$footer-color: #6e7279;

$toogle-color: #fff;
$menu-color: #000;

$placeholder-color: #6e7279;

/*	   end  color   	*/


/*	   background   	*/

$body-bg: #fff;
$header-bg: #24282f;
$footer-bg: #2b2f35;
$down-footer-bg: #24282f;
$menu-link-hover: #b5a263;
$title-overlay: rgba(36,40,47,.96);
$web-link-bg: #dedede;
$grey-bg: #f7f7f7;
$button-bg: #b5a263;

$overlay-bg: rgba(0,0,0,0.6);
$menu-bg: #2b2f35;

/*	   end  background   	*/